* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #222;
}

header {
  background: linear-gradient(135deg, #063b70, #087f5b);
  color: white;
  padding: 15px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.brand img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  border-radius: 50%;
  background: white;
}

.brand h1 {
  margin: 0;
  font-size: 25px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
}

nav a:hover {
  background: rgba(255,255,255,.2);
}

.hero {
  text-align: center;
  padding: 70px 20px;
  background: white;
}

.hero h2 {
  font-size: 38px;
  margin: 10px;
}

section {
  max-width: 1000px;
  margin: auto;
  padding: 45px 20px;
}

section h2 {
  text-align: center;
  color: #075f68;
}

.cards {
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.card,
.notice,
.adminItem {
  background: white;
  padding: 20px;
  margin: 12px 0;
  border-radius: 12px;
  box-shadow: 0 3px 12px #0001;
}

.gallery {
  text-align: center;
}

.gallery img {
  width: 200px;
  max-width: 100%;
}

footer {
  background: #063b70;
  color: white;
  text-align: center;
  padding: 20px;
}

.admin {
  max-width: 700px;
}

input,
textarea {
  width: 100%;
  padding: 13px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  min-height: 120px;
}

button {
  background: #087f5b;
  color: white;
  border: 0;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  opacity: .9;
}

@media(max-width:600px) {

  .brand h1 {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 30px;
  }

}
